---
import PageLayout from "../../layouts/PageLayout.astro";
import PlaylistCard from "../../components/PlaylistCard.astro";
import { getChannel, getChannels, getPlaylists } from "../../lib/youtube";

export async function getStaticPaths() {
  const channels = await getChannels();

  return channels.map((channel) => ({
    params: { name: channel.name },
    props: { title: channel.title },
  }));
}

const { params, props } = Astro;
const name = params.name;

const channel = await getChannel({ name: name });
const playlists = await getPlaylists(channel?.id || "");

// console.log("CHANNEL", channel);
---

<PageLayout
  title={channel.title}
  descr={channel.description}
  currentChannelId={channel.id}
  mainClass="w-full"
>
  <h1 class="text-3xl font-bold mb-6">{channel.title}</h1>

  <div
    class="w-full grid gap-6"
    style="grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));"
  >
    {playlists.map((playlist) => <PlaylistCard playlist={playlist} />)}
  </div>
</PageLayout>
