---
import PageLayout from "../../layouts/PageLayout.astro";
import { getAllPlaylists, getPlaylistVideos } from "../../lib/youtube";

export async function getStaticPaths() {
  const playlists = await getAllPlaylists();

  return playlists.map((playlist) => ({
    params: { id: playlist.id },
    props: { title: playlist.title },
  }));
}

const { params, props } = Astro;
const playlistId = params.id;
const title = props.title;

const videos = await getPlaylistVideos(playlistId);

const channelId = videos[0]?.channelId;
const initialVideoId = videos[0]?.id;

console.log("CHANNEL ID", channelId);
---

<PageLayout title={title} currentChannelId={channelId}>
  <div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] gap-6 relative">
    <!-- 🎬 Player -->
    <div class="aspect-video w-full">
      <iframe
        id="videoPlayer"
        class="w-full h-full rounded-xl"
        src={`https://www.youtube.com/embed/${initialVideoId}?autoplay=1&rel=0`}
        title="YouTube Video Player"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowFullScreen></iframe>
    </div>

    <!-- 📺 Sidebar video list -->
    <aside
      id="playList"
      class="border-2 rounded-xl border-b-gray-900 dark:border-zinc-800 overflow-hidden"
      style="max-height:var(--height-playlist);"
    >
      <div id="playListHeader" class="border-b border-b-gray-950">
        <div class="bg-zinc-900">
          <h1 class="text-2xl font-bold p-2">{title}</h1>
        </div>
        <div
          class="flex items-center justify-between px-4 py-3 bg-stone-900 dark:border-zinc-800"
        >
          <div class="text-sm font-medium">{videos.length} videos</div>
          <div class="flex space-x-2">
            <button title="Anterior" class="text-xl" onclick="nextVideo(-1)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-left"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
                ></path>
              </svg>
            </button>
            <button title="Siguiente" class="text-xl" onclick="nextVideo(1)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div
        class="flex-1 overflow-y-auto px-4 py-3"
        style="max-height:var(--height-playlist-list);"
      >
        {
          videos.map((video, index) => (
            <button
              data-video-id={video.id}
              class={`videoButton flex gap-3 hover:bg-gray-100 dark:hover:bg-zinc-800 p-2 rounded-xl transition text-left w-full cursor-pointer ${
                initialVideoId === video.id ? "videoSelected" : ""
              }`}
              onclick={`changeVideo('${index}')`}
            >
              <img
                src={video.thumbnail}
                alt={video.title}
                class="w-32 h-auto rounded-lg object-cover"
              />
              <div class="flex flex-col justify-center">
                <h3 class="text-sm font-semibold leading-snug line-clamp-3">
                  {video.title}
                </h3>
              </div>
            </button>
          ))
        }
      </div>
    </aside>
  </div>
</PageLayout>

<!-- JavaScript para cambiar el vídeo -->

<style></style>

<script is:inline>
  var videosButton = { numVideos };
  var numVideos = 0;
  var currentVideoIndex = 0;
  var videoPlayer;
  var playlistHeader;
  var r = document.querySelector(":root");

  window.addEventListener("DOMContentLoaded", function () {
    videosButton = document.querySelectorAll(".videoButton");
    numVideos = videosButton.length;

    videoPlayer = document.getElementById("videoPlayer");
    playlistHeader = document.getElementById("playListHeader");
    setHeightPlaylist();
    window.addEventListener("resize", setHeightPlaylist);
  });

  function setHeightPlaylist() {
    var heightContainer = videoPlayer.offsetHeight;
    r.style.setProperty("--height-playlist", heightContainer + "px");
    var heightHeader = playlistHeader.offsetHeight;
    r.style.setProperty(
      "--height-playlist-list",
      heightContainer - heightHeader + "px"
    );
  }

  function nextVideo(sum) {
    index = (currentVideoIndex + sum + numVideos) % numVideos;
    console.log("INDEX", index);
    changeVideo(index);
  }

  function changeVideo(index) {
    videosButton.forEach((element) => {
      element.classList.remove("videoSelected");
    });

    const videoButton = videosButton[index];
    videoButton.classList.add("videoSelected");

    const videoId = videoButton.getAttribute("data-video-id");
    currentVideoIndex = index;

    const player = document.getElementById("videoPlayer");
    player.src = `https://www.youtube.com/embed/${videoId}?autoplay=1&rel=0`;
  }
</script>
