---
import { Image } from "astro:assets";

const { playlist } = Astro.props;
---

<a
  href={`/playlist/${playlist.id}`}
  class="rounded-xl overflow-hidden shadow-lg bg-zinc-800 text-white hover:scale-105 transition"
>
  <Image
    src={playlist.image}
    alt="Poster de la playlist"
    width={100}
    height={100}
    loading="lazy"
    class="w-full object-cover aspect-video"
  />
  <!-- <img
    src={playlist.image}
    alt={playlist.title}
    class="w-full object-cover aspect-video"
  /> -->
  <div class="p-2">
    <h2 class="text-md font-semibold">{playlist.title}</h2>
  </div>
</a>
