---
import { Image } from "astro:assets";
import ThumbnailOverlay from "../thumbnail/ThumbnailOverlay.astro";
import PlayListElement from "./PlayListElement.astro";

const { playlist } = Astro.props;

const overlays = [
  `${playlist.numVideos} ${playlist.numVideos > 1 ? "videos" : "video"}`,
];
---

<a
  href={`/playlist/${playlist.id}`}
  class="overflow-hidden text-[--color-text] hover:scale-105 transition"
>
  <div class="thumbnail w-full aspect-video relative">
    <!-- <Image
      src={playlist.thumbnail}
      alt="Poster de la playlist"
      width={100}
      height={100}
      loading="lazy"
      class="w-full object-cover rounded-xl"
    /> -->
    <PlayListElement imageUrl={playlist.thumbnail} stacked={3} />
    <!-- <img
    src={playlist.thumbnail}
    alt={playlist.title}
    class="w-full object-cover aspect-video"
  /> -->
    <ThumbnailOverlay overlays={overlays} />
  </div>
  <div class="p-2">
    <h2 class="text-md font-semibold">{playlist.title}</h2>
  </div>
</a>
