---
import ThumbnailOverlay from "../thumbnail/ThumbnailOverlay.astro";

const { video, index, selected, chat, seconds } = Astro.props;

const overlays = [`${video.duration}`];

//console.log(video);
---

<button
  data-video-id={video.id}
  data-chat={chat}
  data-seconds={seconds}
  class={`videoButton flex gap-1 hover:bg-gray-100 dark:hover:bg-zinc-800 rounded-xl transition text-left w-full cursor-pointer ${
    selected ? "videoSelected" : ""
  }`}
  onclick={`changeVideo(${index})`}
>
  <div class="thumbnail w-full rounded-lg aspect-video max-w-[40%]">
    <img
      src={video.thumbnail}
      alt="Poster del video"
      width="200px"
      height="112.5px"
      class="w-full h-auto rounded-lg object-cover aspect-video"
    />
    <ThumbnailOverlay overlays={overlays} />
  </div>
  <div class="flex flex-col justify-center p-2">
    <h2 class="text-sm font-semibold leading-snug line-clamp-3">
      {video.title}
    </h2>
  </div>
</button>
