---
import { Image } from "astro:assets";
import ThumbnailOverlay from "../thumbnail/ThumbnailOverlay.astro";
import PlayListElement from "./PlayListElement.astro";

const { playlist } = Astro.props;

const overlays = [
  `${playlist.numVideos} ${playlist.numVideos > 1 ? "videos" : "video"}`,
];
---

<a
  href={`/media/playlist/${playlist.id}`}
  class="overflow-hidden text-[--color-text] hover:scale-105 transition"
  aria-label={`Ver playlist: ${playlist.title} con ${playlist.numVideos} ${playlist.numVideos > 1 ? "videos" : "video"}`}
>
  <div class="thumbnail w-full aspect-video relative">
    <PlayListElement imageUrl={playlist.thumbnail} stacked={3} />
    <ThumbnailOverlay overlays={overlays} />
  </div>
  <div class="p-2">
    <h2 class="text-md font-semibold">{playlist.title}</h2>
    <!-- <p class="text-sm text-gray-600 dark:text-gray-400">
      {playlist.numVideos} {playlist.numVideos > 1 ? "videos" : "video"}
    </p> -->
  </div>
</a>
