---
import "../styles/global.css";
import Footer from "./components/Footer.astro";

const { title, descr, bodyClass } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "Elisa Waves"}</title>
    {descr && <meta name="description" content={descr} />}
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap.xml" />
    <meta name="robots" content="index, follow" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "[ElisaWaves,Elisa Waves]",
        "jobTitle": "[Actriz de doblaje,Locutora de publicidad,Streamer]",
        "url": "https://elisawaves.es",
        "sameAs": "[https://twitch.tv/elisawaves,https://www.youtube.com/elisawaves]"
      }
    </script>
    <meta property="og:title" content={title || "Elisa Waves"} />
    <meta property="og:description" content={descr} />
    <meta property="og:image" content={new URL("/favicon.png", Astro.site)} />
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:title" content={title || "Elisa Waves"} />
    <meta name="twitter:description" content={descr} />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary" />
  </head>
  <body
    class=`bg-zinc-100 text-zinc-900 dark:bg-(--color-grey) dark:text-zinc-100 ${bodyClass || ""}`
  >
    <slot />
    <Footer />
  </body>
</html>

<script>
  const theme = localStorage.getItem("theme");
  const element = document.querySelector("#theme-toggle-check");
  console.log("THEME", theme);

  if (theme === "dark") {
    document.documentElement.classList.add("dark");
    //element.checked = "checked";
  } else if (theme === "light") {
    document.documentElement.classList.remove("dark");
    element.checked = "";
  }
</script>
